.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCC5B9;
  grid-area: calendar;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}

.calendarMain{
  width: 80%;
}