/* -- CSS RESET --*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* -- COLOR PALATTE -- */
:root {
  --color-light: #FFFCF2;
  --color-light-gray: #CCC5B9;
  --color-dark-gray: #403D39;
  --color-dark: #252422;
  --color-orange: #EB5E28;
}



#app {
  background-color: var(--color-light-gray)
}